@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import "tailwindcss";


@theme {
    --font-fredoka: "Fredoka", sans-serif;
    --color-paper: #f4f1ea;
    --color-ink: #171717;
    --color-pink: #ff8cb5;
    --color-pink-strong: #fb5d91;
    --color-purple: #bb9cff;
    --color-mint: #82d9c9;
    --color-yellow: #f7cb61;
    --color-dark-surface: #242424;
}